
.clip-path-slant {
    clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
}

.custom-scroll::-webkit-scrollbar {
    width: 6px;
}
.custom-scroll::-webkit-scrollbar-track {
    background: #111;
}
.custom-scroll::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 3px;
}
.custom-scroll::-webkit-scrollbar-thumb:hover {
    background: #555;
}
