
/* Utility for slanted buttons */
.clip-path-slant {
    clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
}

/* Scrollbar hide */
::-webkit-scrollbar {
    display: none;
}

video {
    /* Ensure video is visible in the HUD */
    display: block;
}
